body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    max-width: 100%;
    cursor: crosshair;
}

#cmykResults {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

#C{
    height: 5rem;
    width: 5rem;
    background: #00FFFF;
    color: black;
}
#M{
    height: 5rem;
    width: 5rem;
    background: #FF00FF;
    color: black;
}
#Y{
    height: 5rem;
    width: 5rem;
    background: #FFFF00;
    color: black;
}
#K{
    height: 5rem;
    width: 5rem;
    background: black;
    color: white;
}
@media (max-width: 768px) {
    .table th,
    .table td {
        white-space: nowrap;
    }

    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}


@media (max-width: 576px) {
    .table th,
    .table td {
        font-size: 12px;
    }

    .table th {
        padding: 8px;
    }

    .table td {
        padding: 8px;
    }
}